{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card" >
      <div class="card-body">
          {% if object.photo %}
          <img class="card-img-top" src="{{ object.photo.url }}" alt="{{ object.title }}">
          {% endif %}
          <h1 class="card-title">{{ object.title }}</h1>
          <h5 class="card-subtitle mb-2 text-muted">Muallif: {{ object.author }} | {{ object.date }}</h5>
          <p class="card-text">{{ object.body | safe}}</p>
          <a href="{% url 'article_update' article.pk %}"><button type="button" class="btn btn-outline-primary">Tahrirlash</button></a>
          <a href="{% url 'article_delete' article.pk %}"><button type="button" class="btn btn-outline-danger">O'chirish</button></a>
          <a href="{% url 'article_list' %}"><button type="button" class="btn btn-outline-info">Barcha postlar</button></a>
      </div>
      <div class="card">
        <div class="card-header">Izohlar</div>
        {%  for comment in article.comments.all %}
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ comment }}</p>
                <footer class="blockquote-footer">{{ comment.author }}</footer>
            </blockquote>
        </div>
        {% endfor %}
    </div>
</div>
<p></p>
</div>
{% endblock content %}