<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}

    <h2>About us</h2>
    <p>Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Repellat vero perferendis facere illo iste aliquid enim neque laudantium natus, animi rem porro minima dolorum impedit, suscipit deserunt quaerat itaque nulla at, reiciendis amet doloremque, fugit! Voluptates eligendi ullam omnis perspiciatis. Perspiciatis dolorum nulla esse corporis recusandae iure in optio facilis?<br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, voluptatibus.</p>

    {% endblock content %}
</body>
</html>
