<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django darslar</title>
</head>

<body>
    <header>
        <a href="{% url 'home' %}">Bosh sahifa</a>
        <a href="{% url 'about' %}">Biz haqimizda</a>
        <a href="{% url 'our_team' %}">Bizning jamoa</a>
        <a href="{% url 'our_projects' %}">Bizning loyihalar</a>
        <a href="{% url 'interesting_facts' %}">Qiziqarli faktlar</a>
    </header>

</body>
{% block content %}
{% endblock content %}
</html>
