<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>

<body>
{% extends 'base.html' %}

{% block content %}
    <h1>Bosh sahifa</h1>
    <h2>Xush kelibsiz</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut culpa eum ad laudantium, voluptates ipsam, dignissimos, ducimus dolorem facilis atque reprehenderit autem repellendus, incidunt provident. Necessitatibus voluptatum consequatur nulla temporibus. Quam quidem tempora, odio ullam, ex nobis placeat non facere soluta eius magni ab nostrum voluptas repellat iusto odit nulla expedita sapiente rerum reprehenderit molestias. Quis.</p>
{% endblock content %}
</body>
</html>
