<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Our Projects</title>
</head>
<body>
	{% extends 'base.html' %}

    {% block content %}
	<h2>Daily facts</h2>
	<h2>Fact about cat</h2><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae ad eos dolor quasi, soluta nam, culpa reprehenderit. Iste itaque suscipit ea esse culpa illum officia aut, quas explicabo perspiciatis minus adipisci molestiae, cumque quibusdam doloribus!</p><br>
	<h2>Fact about dog</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quibusdam est, illo exercitationem, deserunt ipsum, nesciunt alias fugit, ea dolore iusto explicabo? Nulla sapiente amet, odit dolor est odio numquam molestiae. Qui minus, illo, molestias ex eos eaque quam, cupiditate vitae perspiciatis exercitationem, nostrum!</p>
	{% endblock content %}
</body>
</html>