<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% extends 'base.html' %}

    {% block content %}
	<h2>Наша команда</h2>
	<p>
        Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Повстречался последний до агентство переписали необходимыми путь решила прямо живет коварный если курсивных злых языком предупреждал то все пояс щеке, грамматики инициал правилами лучше продолжил жизни пор заголовок. Семь имени, вскоре первую сбить проектах запятых коварных, что дороге обеспечивает. Букв лучше, по всей ему своего от всех прямо, свое ручеек путь взобравшись запятой пустился рекламных дал предупредила.
        <br>
       <h2>Our Team</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, culpa quibusdam incidunt, quasi dignissimos dolor odio, eligendi officiis perspiciatis placeat deserunt, officia iusto cupiditate? Est incidunt recusandae, dolore omnis praesentium tenetur voluptatum cumque ex esse ab, itaque laboriosam nisi necessitatibus repudiandae quibusdam corrupti provident. Eius ipsum recusandae accusamus, debitis, vero quaerat officiis voluptates repudiandae soluta! Eius quasi molestiae quod deserunt, distinctio! Molestiae odio pariatur veniam cupiditate earum quia, quidem molestias illum, iusto libero maxime. Aperiam, perferendis.</p>
	{% endblock content %}
</body>
</html>